JWT_SECRET=your_random_secret_here
TELEGRAM_BOT_TOKEN=your_bot_token_from_botfather
VITE_TELEGRAM_BOT_USERNAME=your_bot_username_without_at_symbol
NODE_ENV=production
APP_URL=https://ais-dev-u6uyh6l2mjfeyvn6ccstdg-277371746076.europe-west2.run.app

# Telegram OAuth 2.0 (OpenID)
TELEGRAM_OAUTH_ID=7658719788
TELEGRAM_OAUTH_SECRET=CGOzBQ84Y6MNEJInp1oCk6QWlS_mgLkz5aalzrZ1kMHD07gh50joIg
# Replace with the actual provider URLs if different
TELEGRAM_OAUTH_AUTH_URL=https://oauth.telegram.org/auth
TELEGRAM_OAUTH_TOKEN_URL=https://oauth.telegram.org/token
